/* 
    Author: Erin Weaver
    Create Date: 28 March 2021
    Revised: 17 April 2021
    
    Description: This is the nav.css file for my portfolio of e-learning development work. It contains all stylistic components for my website navigation.
*/  

/*Main Menu Base Styles*/

.navbackground{
    background-color: #182518;
    border-bottom: solid 10px #CA7B3F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar{
    font-family: 'Josefin sans', sans-serif;
    padding-right: 10px;
    align-items: center; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    position: relative;
    display: inline-block;  
}

#hamitems {
    list-style-type: none;
    }

.navlink {
    position: relative;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    font-size: 16pt;
    color: #20536F;
    }

.navlink a:link {
    background-color: #182518;
    }

.navbar a {
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border: solid 2px #182518;
    width: auto;
    margin: 2px; 
    color: #FFF1D6;
    }

.navbar a:hover, .navbar a:focus{
    border: solid 2px #9FC19A;
    padding: 10px; 
    }

.navbar a:active{
    background-color: #182518;
    color:#FFF1D6;
    }

.submenu{
    position: absolute;
    display: none;
    z-index: 999;
    width:max-content;
    list-style: none;
    left: -150px; 
    top: 32px;
    }

.submenu li a{
    display: block;  
} 

li:hover .submenu{
    display: block;
}

.navbar label, #hamburger {display:none;}


#logo{
    border: none;
    font-weight: 600;
    text-align: center; 
    padding: 17px 10px 10px 20px;
    width: max-content;
    font-family: 'Josefin sans', sans-serif;
    font-size: 24pt;
    align-self: center;
}

#logo a{
    text-decoration: none; 
    color: #9FC19A; 
}

/*Responsive Navbar*/

@media screen and (max-width:1130px){

    #hamburger {
        display: block;
        height: 50px;
        width: 50px;
        z-index: 999;
        opacity: 0;
        display: block;
        color: #FFF1D6;
        font-style: normal;
        font-size: 3em;
        padding: 0;
    }

    .navbar #hamitems:hover {
        display: block;
    }

    .navbar label{
        display: block;
        color: #f4e3cf;
        font-style: normal;
        font-size: 3em;
        padding: 0;
        position: absolute;
        left: 5px;
        top: 5px; 
    }

    .navlink {
        width: 100%; 
    }

    .navlink a{
        text-decoration: none;
        display: block;
        background-color:#182518;
        padding: 5px;
        width: 100px;
        margin: 0; 
        color: #FFF1D6;
        width: 125px;
    }

    #hamitems{
        display: none;
        flex-direction: column;
        z-index: 999;
    }

    #hamitems, .navbar:active #hamitems {
        display: none; 
        position: absolute;
        left: -130px;
        top: 35px; 
    }

    .navbar input:checked ~ #hamitems {display:block;}
    
    .submenu li a{
        z-index: 999;
        width: 150px;
    }

    .submenu{
        left: -200px;
        top: -5px;
    }

    #logo1{
        font-size: 24pt;   
    }

    @media screen and (max-width:640px){
        /*All Pages*/
   
        #hamitems:hover {
            display: block;
        }

        .navbar label, #hamburger {
            display: inline-block;
            color:#FFF1D6;
            font-style: normal;
            font-size: 3em;
            top: 5px;
        }

        #hamitems{
            top: 30px;
            left: -160px;
            z-index: 1000;
        }

        #hamitems a{
            width: 70px;
            text-decoration: none;
            display: block;
            border: 3px solid #182518;
            padding: 5px;
            width: 80px;
            margin: 0; 
            color:#FFF1D6;
            position: relative;
            width: 150px;
            }
        
        .submenu li a{
            left: -5px; 
            top: -5px;
        } 
        
        #hamburger {
            display: block;
            height: 50px;
            width: 50px;
            z-index: 999;
            opacity: 0;
            }

        #logo{
            font-size: 20pt;
        }
    }

   
}