/* 
    Author: Erin Weaver
    Create Date: 28 March 2021
    Revised: 17 April 2021
    
    Description: This is the style.css file for my portfolio of e-learning development work. It contains all stylistic components for my portfolio 
    website except those related to navigation.
*/  

/*All Non-Home Pages*/
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #FFF1D6;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 1em;
    font-family: 'Josefin sans', sans-serif;;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: #182518;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #B34700;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #182518;
    text-decoration: underline;
  }
  

.wrapper{
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: #FFF1D6;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position:bottom;
    min-height: 100vh; 
}

#email-icon{
    max-width: 1.5em;
}

#linkedin, #itch{
    max-width: 1.5em;
}

.random-pic{
    width: 25%; 
}

.content{
    flex: 1; 
    max-width: 70%;
    align-self: center;
}

.title {
    color: #182518;
    padding-top: 10px;
    text-align: center;
    font-family: 'Josefin sans', sans-serif;
    align-self: center;
    margin-bottom: 0px;
    margin-top: 0px; 
    font-size:1.5em; 
}

.YellowTitle{
    text-decoration: none;
    background-color: #FFE4AD;
    color: #182518;
    border: solid 2px #182518;
    padding: 10px;
    margin-top: -1px;
    font-size: 18pt;
    font-family: 'Josefin sans', sans-serif;
    height: min-content;
}

.text { 
    font-family: 'Open Sans', sans-serif;
    color: #182518;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 14pt;
}

.baseline {
    background-color:#182518;
    display: flex;
    flex-direction: column;
    width: 100%; 
    border-top: solid 10px #CA7B3F;
    text-align: center;
    color:#FFF1D6; 
    font-family: 'Josefin sans', sans-serif; 
    font-size: 1em;
}  
.baseline a:link, .baseline a:active{
    color: #9FC19A
}

.baseline a:visited, .baseline a:hover{
    color: #FFCF70;
}

h3{
    text-decoration: underline;
}

/*Full-Sized Home Page*/
.hwrapper{
    display: flex;
    flex-direction: column;
    margin:0;
    background-color: #FFF1D6;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position:bottom;
    min-height: 100vh; 
}

.htitle{
    color: #182518;
    text-align: center;
    font-family: 'Josefin sans', sans-serif;
    margin-top: 30px;
    margin-bottom: 0px;
    align-self: center;
    width: 100%; 
    font-size: 2em;
    }


.htext { 
    font-family: 'Open Sans', sans-serif; 
    color: #182518;
    line-height: 175%;
    margin-bottom: 25px;
    margin-top: 0px; 
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5em;
    }

#welcomeText{
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;
}

#welcome{
    color: #182518;
    font-family: 'Josefin sans', sans-serif;
    margin-bottom: 0px; 
}

.content-box{
    display: flex; 
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-self: center; 
    align-self: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.content-box2{
    display: flex; 
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-self: center; 
    align-self: center;
    margin-top: 50px;
    margin-bottom: 0px; 
}

#Erin {
    width: 25%;
    align-self: center;
    margin: 10px;
}

#Ltext{
    text-decoration: none;
    border: none;
    background-color:#9FC19A;
    padding: 10px;
    color: #182518;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    max-width: 150px; 
    text-align: center;
}

.home_links{
    text-align: center;
    margin-bottom: 10px;
}

#paper{
    height: 100px;
    width: auto;
    padding: 10px;
}

.home_pic{
    width: 20%; 
    margin: 20px; 
}

/*Full Resume Page*/

.resumeBox{
    margin: 50px;
    margin-top: 0px;  
}

/*Full Program Page*/
#ctable{
    border-spacing: 5px; 
    width: 100%;
    margin-bottom: 50px; 
}

#ctable tr:nth-child(odd){
    background-color: #FFE4AD;
    color: #182518;
}

#ctable th{
    background-color: #182518;
    color: #FFF1D6;
}

 #ctable tr:nth-child(even){
    color: #182518;
}

#subtext{
    margin-left: 25px;
    margin-right: 25px; 
    margin-top: 0px; 
}

/*Full-Sized Projects Page*/ 
.main_link a:link, .main_link a:active{
        color: #B34700 ;
        /* text-decoration: none; */
    }
    
.main_link a:visited, .main_link a:hover{
        color: #4C7246;
        /* text-decoration: none; */
      }

.sub{
    color: #FFF1D6;
    background-color: #182518;
    min-width: 150px;
    max-width: 500px; 
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 20px 0;
    align-self: center;
    padding: 20px;
    margin: 5px;
}

.comp_border{
    background-color: #fff1d6;
    margin: 25px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.comp_border1{
    background-color: #FFF1D6;
    margin: 25px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

#comp_title{
    text-decoration: none;
    background-color: #FFE4AD;
    color: #182518;
    border: solid 3px #182518;
    text-align: center; 
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-top: -1px;
    font-size: 18pt;
    font-family: 'Josefin sans', sans-serif;
}

.Ar_title{
    color: #182518;
    padding: 10px;
    padding-bottom: 0px; 
    min-width: 150px;
    max-width: 500px; 
    text-align: center;
    font-family: 'Josefin sans', sans-serif;
    align-self: center;
}

.project_pic{
    width: 16%;
    margin: auto; 
}

.project_pic2{
    width: 80%;
    margin: auto; 
}

.project_pic3{
    width: 20%;
    margin: auto; 
}

.linkset{
    display: flex;
    justify-content: center;
}

th{
    text-align: center;
}

td{
    text-align: left; 
}

#ptable{
    border-spacing: 5px; 
    width: 100%; 
    margin-bottom: 50px;
    margin-top: 50px; 
}

table, th, td{
    border: 2px solid #182518;
    border-collapse: collapse;
    padding: 15px; 
}

#ptable tr:nth-child(odd){
    background-color: #182518;
    color: #fff1d6;
}

#ptable th{
    background-color: #182518;
    color: #fff1d6;
}

 #ptable tr:nth-child(even){
    color: #9FC19A;
}

#pcaption{
    font-weight: bold;
    font-size: 14pt; 
    padding: 5px; 
}

/*Full-Sized Digital Media Page*/

.videothumb{
    text-align: center;
}

.content-box4{
    display: flex; 
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-self: center; 
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px; 
    align-self: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

#infoGraphic1{
    margin-bottom: 50px;
    width:40%;
}

#infoGraphic2{
    width: 50%;
}

/*Full-Sized Digital Art Page*/
.ArtFlexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 35px; 
}

.threed{
    width: 40%; 
}

.threed2{
    width: 10%; 
}


.artpic{
    width: 25%;
}

.artpic2{
    max-width: 30%; 
}

.digArt{
    width: 50%; 
} 

.daTitle{
    text-decoration: none;
    text-align: center;
}

.ArtPictures{
    display: flex;
    flex-direction: row;
}


/*Full-Sized Reflection.html Page*/

.text p#p1::first-letter{
    font-weight: bold;
    color: #CA7B3F;
    font-size: 30px;
    }

p#p2, p#p3, p#p4, p#p5, p#p6{
    text-indent: 50px;
    }

#rh2{
    margin: 0px
}

/*Full-Sized Contact.html Page*/

form{
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    font-weight: bold; 
    width: 500px;  
    align-self: center;
    margin: 25px; 
    color: #182518;
}

#firstname, #lastname, #email{
    width: 500px;
    height: 30px; 
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    border: solid #182518 2px; 
    color: #182518;
    padding: 5px; 
}

#message{
    width: 500px;
    height: 200px; 
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    border: solid #182518 2px;
    padding: 5px; 
}

button{
    width: 100px;
    font-size: 16pt;
    font-family: 'Open Sans', sans-serif;
    margin: 10px; 
    background-color: #9FC19A;
    color: #182518;
    border: solid #182518;
}

#contact{
    margin-bottom: 0px; 
    margin-top: 0px; 
}

/* Full-Sized Games Page */

.source{
   text-align: center;
}

.gamepic1{
    width: 25%;
}

.gamepic2{
    width: 27%;
}

.gamepic3{
    width: 25.5%;
}

.gamepic4{
    width: 40%;
}

.playGame{
    width: 11%;
    padding-bottom: 10px;
}

.GameFlexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.GameFlexbox2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gameTitle{
    text-decoration: none;
    background-color: #FFE4AD;
    color: #182518;
    border: solid 2px #182518;
    padding: 10px;
    margin-top: -1px;
    font-size: 18pt;
    font-family: 'Josefin sans', sans-serif;
    height: min-content;
}


   
/*Responsive Media*/
@media screen and (max-width:5000px){
    /*5000 Home Page*/
    .home_pic{
        width: 9%;
    }

}
@media screen and (max-width:3000px){
    /*3000 Home Page*/
    .home_pic{
        width: 10%;
    }
}

@media screen and (max-width:3000px){
    /*3000 Home Page*/
    .home_pic{
        width: 12%;
    }
}

@media screen and (max-width:2000px){
    /*2000 Home Page*/
    .home_pic{
        width: 15%;
    }


    
@media screen and (max-width:1500px){
    /*1500 Home Page*/
    .home_pic{
        width: 17%;
    }
}
@media screen and (max-width:1000px){
    /*1000 Home Page*/

    .home_pic{
        width: 20%; 
    }

    #Erin{
       width: 25%; 
    }
}
@media screen and (max-width:900px){
    /*900 Home Page*/
    
    .content-box2{
        flex-direction: column;
        
    }

    #Erin{
        display: none; 
    }

    #welcomeText{
        margin-right: 0px;
    }
        
}
    
    /*992 Projects Page*/
  
    .project_pic2{
        width: 20%;
    }


 


@media screen and (max-width:700px){
    /*640 Home Page*/
    .baseline{
        font-size: 0.75em;
    }

    .home_pic{
        width: 22%; 
    }

    #Erin{
       width: 25%; 
    }

    /*640 Project Page*/
    .project_pic2{
        width: 60%;
    }

    .project_pic3 {
        width: 35%;
    }

    .project_pic{
        width: 35%;
    }

    .comp_border{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .comp_border1{
        margin-left:auto;
        margin-right:auto;
        width: 100%;
    }
}}